[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask="*"
flask_bootstrap="*" 
template-render="*"
flake8 = "*"
flask-smorest="*"
python-dotenv="*"
pycodestyle = "*"
autopep8 = "*"

[dev-packages]
flask="*"
flask_bootstrap="*" 
template-render="*"

[requires]
python_version = "3.10"


[scripts]
flask_debug = "flask.exe --debug run"